			/*导航栏样式*/
			@charset "utf-8";
			*{
				margin: 0;
				padding: 0;
			}
			body{
				font-size: 14px;
				color: #ffffff;
				font-family: 'microsoft yahei';
				background-color: #ffffff;
			}
			.nav-bar{
				width: 100%;
				height: 90px;
				background-color: #6699cc;	
				position: fixed;
				z-index: 2001;
			}
			.nav-logo{
				display: inline-block;
				height: 90px;
				width: 30%;
				font-size: 30px;
				text-align: center;
				line-height: 90px;
				cursor: pointer;
			}
			.nav{
				display: inline-block;
				float: right;
				height: 90px;
				width: auto;
				margin-right: 40px;
			}
			.list-group{
				list-style: none;
				width: auto;
				height: 90px;
				margin-top: 20px
			}
			.list-group li{
				position: relative;
				float: left;
				display: list-item;
				width: 100px;
				height: 50px;
				line-height: 50px;
				text-align: center;
				color: #ffffff;
				border: 3px solid #6699cc;
				cursor: pointer;
				margin: 0 5px 0 5px;
				transition:background-color 0.2s linear,color 1s linear,border-radius 0.2s linear;
				-webkit-transition:background-color 0.2s linear,color 1s linear,border-radius 0.2s linear;
			}
			.list-group .list-active{
				border: 3px solid #FFFFFF;
				border-radius: 30px;
			}
			@-webkit-keyframes ma{
				0% {border-color: #E74C3C;border-radius: 30px;}
				25% {border-color:#3CEE7C;border-radius: 30px;}
				50% {border-color:#26A8F1;border-radius: 30px;}
				75% {border-color:#F1EA32;border-radius: 30px;}
				100%{border-color:#ffffff;border-radius: 30px;}
			}
			.list-group .music-active{
				-webkit-animation-name:ma;
				-webkit-animation-duration:10s;
				-webkit-animation-iteration-count:infinite;
				animation-play-state: running;
			}
			.list-group > li:hover{
				background-color: #ffffff;
				color: #000000;	
				border: 3px solid #ffffff;
				border-radius: 30px;
				text-decoration: underline;
			}
			.list-group li:nth-child(3),.list-group li:nth-child(5){
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
			}
			.list-group > li > a{
				text-decoration: none;
				color: inherit;
			}
			.dropdown{
				position: absolute;
				background-color: rgba(0,0,0,0.2);
				left: -3px;
				top: 53px;
				width: 150px;
				list-style: none;
				border: 1px solid #ffffff;
				border-top: none;
				display: none;
				padding-top: 1px;
			}
			.dropdown > li{
				display: block;
				width: 100%;
				height: 50px;
				text-align: center;
				border: none;
				color: #ffffff;
				margin: 0;
			}
			.dropdown > li > a{
				width: 100%;
				height: 100%;
				display: block;
				border: none;
				text-decoration: none;
				color: inherit;
			}
			.dropdown > li > a:hover{
				background-color: #ffffff;
				color: #6699cc;
			}

			/*图片浏览*/
			.slider-container{
				position: inherit;
				width: 100%;
				height: 550px;
				padding-top: 90px;
			}
			.slider-container > .slider-content{
				width: 100%;
				height: 100%;
			}
			#bgimg{
				width:100%;
				height: 100%;
				background: url(../image/demon.jpg) no-repeat;
				-webkit-transition:background 0.5s linear,background-size 0.5s linear;
				background-size: 100% 100%;
			}
			.control .prev-control,.control .next-control{
				position: absolute;
				top:40%;
				background-color: rgba(0,0,0,0.5);
				width: 70px;
				height: 70px;
				cursor: pointer;
				border: 2px solid #ffffff;
				border-radius: 50%;
				z-index: 2000;
				-webkit-transition:-webkit-transform 0.2s linear;
			}
			/*上一页下一页*/
			.prev-control{
				left:45px;
				background: url("../image/prev-slide.png") center center no-repeat;
			}
			.next-control{
				right:45px;
				background: url("../image/next-slide.png") center center no-repeat;
			}
			.prev-control:hover,.next-control:hover{
				-webkit-transform:rotateZ(90deg);
				border-color: #6699cc;
				background-color: rgba(0,0,0,0.1);
			}

			/*图片上面的文字*/
			.descript{
				position: absolute;
				top: 20%;
				left: 20%;
				z-index: 2000;
			}
			.descript > .img-descript{
				width: 300px;
				height: 150px;
				line-height: 150px;
				font-size: 50px;
			}
			.descript > .img-desctipt-detail{
				width: 300px;
				font-size: 25px;
			}
			/*底部控制按钮*/
			.bottom-control{
				position: absolute;
				bottom: 3%;
				width: 100%;
				height: 30px;
				line-height: 30px;
				background-color: rgba(0,0,0,0.001);
			}
			.bottom-control span:nth-child(1){
				margin-left: 48%;
			}
			.bottom-control span{
				display: inline-block;
				width: 20px;
				height: 20px;
				margin: 0 5px 0 5px;
				border: 2px solid rgba(255,255,255,0.5);
				border-radius: 50%;
				cursor: pointer;
				-webkit-transition:box-shadow 0.2s linear;
			}
			.bottom-control span:hover{
				box-shadow: 0 1px 1px rgba(255,255,255,0.4), 
 							inset 0 1px 1px rgba(0,0,0,0.1),
 							0 0 0 5px rgba(255,255,255,0.5);
			}
			.bottom-control .current{
				background-color: #ffffff;
				padding: 2px;
				width: 16px;
				height: 16px;
			}
			

			/*About Me*/
			.about{
				position: relative;
				width: 100%;
				height: 655px;
				background: rgba(0,0,0,0.8);
			}
			.about-title{
				margin: 0 auto;
				width: 60%;
				height: 15%;
				padding-top: 10%;
			}
			.about-title h1{
				width: 100%;
				height: 90px;
				line-height: 90px;
				font-size: 58px;
				font-family: "microsoft yahei";
				font-weight: bold;
			}
			.about-title div{
				width: 46px;
				height: 5px;
				background-color:#0B81F7;
				margin-top: -8px;
			}
			.about-descript{
				margin: 0 auto;
				width: 60%;
				height: 80px;
				line-height: 60px;
				font-size: 34px;
				font-family: "sans-serif";
				color: rgba(255,255,255,0.8);
			}

			.skill-bar{
				position: absolute;
				width: 80%;
				bottom: 5px;
				left: 20%;
			}
			.skill-bar > .skill{
				display: inline-block;
				float: left;
				margin: 15px;
				width: 150px;
				height: 200px;
				
			}
			.javascript,.css,.html5,.nodejs{
				width: 150px;
				height: 150px;
			}
			.skill > span{
				display: inline-block;
				width: 150px;
				height: 40px;
				line-height: 40px;
				text-align: center;
				font-size: 20px;
			}
			.skill > canvas{
				margin: 0 auto;
			}
			.skill > canvas{
				-webkit-transition:all 0.5s linear;
			}

			.contact{
				position: fixed;
				top: 90px;
				right: 0px;
				width: 80px;
				height: 550px;
				background-color: rgba(255,255,255,.2);
				display: none;
				-webkit-transition:display 2s linear;
			}
			.contact > .contact-item{
				width: 60px;
				height: 60px;
				background-color: rgba(255,255,255,.2);
				margin: 40px 7px 40px 7px;
				border-radius: 50%;
			}
			.contact > .contact-item span{
				display: block;
				width: 60px;
				height: 60px;
				cursor: pointer;
				border: 3px solid rgba(255,255,255,.1);
				border-radius: 50%;
			}
			.contact > .contact-item span:hover{
				border-color:rgba(255,255,255,1);
			}
			.contact > .contact-item a{
				width: 60px;
				height: 60px;
				text-decoration: none;
			}
			#sinaweibo-contact{
				background:url(../image/sinaweibo.png);
				background-size: 60px 60px;
				background-color: rgba(0,0,0,0.4);
			}
			#txweibo-contact{
				background:url(../image/txweibo.png);
				background-size: 60px 60px;
				background-color: rgba(0,0,0,0.4);
			}
			#wechat-contact{
				background:url(../image/wechat.png);
				background-size: 60px 60px;
				background-color: rgba(0,0,0,0.4);
			}
			#qq-contact{
				background:url(../image/qq.png);
				background-size: 60px 60px;
				background-color: rgba(0,0,0,0.4);
			}
			#facebook-contact{
				background:url(../image/facebook.png);	
				background-size: 60px 60px;
				background-color: rgba(0,0,0,0.4);
			}

			/*音乐*/
			.music-bar{
				position: fixed;
				top: 30px;
				left: 22%;
				background-color: #ffffff;
				z-index: 2003;
				display: none;
				border-radius: 1px solid rgba(0,0,0,.5);
			}